@charset "utf-8";
/* CSS Document */
.card {
	margin:25px 0px;
}
.card h1{
	font-size:24px;
}

.card h2{ /*“使用建议”中的二级标题*/
	font-weight:bold; font-size:18px;
}

#page-nav{ /*内容导航居中对齐*/
	margin:20px auto; width:400px; font-size:14px;
}

.pagination{   
	display: flex;
  	justify-content: center;
  	flex-wrap: wrap; 
  	padding-left: 0;
  	list-style: none;
	white-space: normal;
}

.current{ /*当前页标签加粗显示*/
	font-weight:bold; }

.image-right{
	padding-top:30px;
}

#skill1,#skill2,#skill3,#skill4{ /*默认时不显示块*/
	display:none;
	margin-top:12px;
}
#skill1{  /*默认时显示第一个块*/
	display:block;
}

#skill1 p,#skill2 p,#skill3 p,#skill4 p{
	margin-top:5px;
}

#skillimage1,#skillimageover2,#skillimageover3,#skillimageover4{ /*默认时显示第一个按钮的高亮状态和其他按钮的默认状态*/
	display:none;
}

.title-underline {
            border-bottom: 2px solid ; /* solid line under the title */
            padding-bottom: 5px; /* space between text and line */
            margin-bottom: 20px; /* space below the line */
}

.mission-table {
    width: 90%;
	margin-left:auto; margin-right:auto;
    border-collapse: collapse; /* Removes spacing between cells */
}

.mission-table td {
    border: 1px solid #ccc; 
    padding: 8px;
    text-align: left;
}

.mission-table thead th {
    background-color: lightgrey; 
}

.mission-table th:nth-child(1),
.mission-table td:nth-child(1) {
    width: 20%;
}

.mission-table th:nth-child(2),
.mission-table td:nth-child(2) {
    width: 20%;
}

.mission-table th:nth-child(3),
.mission-table td:nth-child(3) {
    width: 60%;
}
